@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

$main-color: #3e4154;
$pure-white: #ffffff;
$blue: #23a9f4;
$lightblue: #31e1d6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: $pure-white;
  transition: 0.5s;
  font-family: "Quicksand";
  overflow: hidden;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 2fr 50px;
  grid-template-columns: 1fr;
  overflow: hidden;
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid fade-out(black, 0.9);
    .logo {
      width: 2.5rem;
      cursor: pointer;
      path {
        fill: $main-color;
        stroke: $main-color;
      }
    }
    i {
      font-size: 1.5rem;
      color: $main-color;
    }
  }
  .home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
    place-items: center;
    text-align: center;
    .heroText {
      color: $main-color;
      h1 {
        font-size: calc(1vw + 2.5rem);
        letter-spacing: 0.06em;
        user-select: none;
        font-weight: 500;
        opacity: 0;
        animation-name: appear;
        animation-delay: 0.8s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
      h3 {
        font-size: calc(0.5vw + 1rem);
        letter-spacing: 0.06em;
        user-select: none;
        font-weight: 300;
        opacity: 0;
        animation-name: appear;
        animation-delay: 1.8s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        span:nth-child(1) {
          color: $blue;
        }
        span:nth-child(2) {
          color: $lightblue;
        }
      }
    }
    .navlinks {
      width: 320px;
      align-self: center;
      justify-content: space-evenly;
      list-style: none;
      display: flex;
      opacity: 0;
      animation-name: appear;
      animation-delay: 2.5s;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      position: relative;
      .navlink {
        a {
          font-size: 1rem;
          transition: color 0.5s;
          color: $main-color;
        }
        a:hover {
          color: $lightblue;
        }
      }
    }
  }

  .bottomBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid fade-out(black, 0.9);
    .menu-toggle {
      display: grid;
      grid-template-columns: 14px 14px;
      grid-template-rows: 14px 14px;
      place-items: center;
      transition: 0.5s;
      cursor: pointer;
      span {
        background-color: $main-color;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transition: 0.5s;
      }
    }
    .menu-toggle:hover span {
      background-color: $lightblue;
    }
    .navBot {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      width: 100%;
      transition: 0.5s;
      .navBotLink {
        width: 43px;
        transform: translateY(100px);
        transition: 0.5s;
        a {
          display: flex;
          flex-direction: column;
          text-align: center;
          text-decoration: none;

          i {
            font-size: 1rem;
            color: $main-color;
            transition: color 0.5s;
          }
          span {
            font-size: 0.6rem;
            color: $main-color;
            transition: 0.5s;
            opacity: 0;
          }
        }
        a:hover i {
          color: $lightblue;
        }
        a:hover span {
          opacity: 1;
          color: $lightblue;
        }
      }
      .navBotLink.show {
        transform: translateY(0);
      }
    }
    .darkModeToggle {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .darkIcon {
        color: $main-color;
        border-radius: 50%;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }
}

.hidden {
  display: none !important;
}
.show {
  display: flex !important;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
