@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #3e4154;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container {
  margin-top: 30px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 30px 90vh;
      grid-template-rows: 30px 90vh;
  justify-items: center;
}

header .container nav {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px;
      grid-template-columns: 1fr 40px;
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
  place-content: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo svg {
  width: 50px;
}

.logo svg path {
  fill: #d1d9e6;
  stroke: #d1d9e6;
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  width: 35px;
  height: 5px;
  border-radius: 50px;
  margin: 4px;
  background-color: #d1d9e6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-toggle span:nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 25px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.menu-toggle span:nth-child(2) {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.menu-toggle .rotate-1 {
  width: 35px !important;
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
  background-color: #3e4154;
}

.menu-toggle .rotate-2 {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
  background-color: #3e4154;
}

.navigation {
  position: fixed;
  top: 0%;
  right: -700px;
  width: calc(12vw + 10rem);
  height: 100vh;
  text-align: right;
  background-color: #d1d9e6;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation li {
  list-style: none;
  margin: calc(1.5vh + 1rem) 15px;
}

.navigation li a {
  color: #3e4154;
  text-decoration: none;
  font-family: "Quicksand";
  font-size: calc(0.5vw + 1.8rem);
  font-weight: 600;
}

.navigation.show {
  right: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  font-family: "Quicksand";
  font-size: calc(1vw + 3rem);
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: #23a9f4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 1rem;
}

main h3 {
  font-family: "Quicksand";
  font-size: calc(0.5vw + 1rem);
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #d1d9e6;
  margin-bottom: 2em;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main h3 span:nth-child(1) {
  color: #23a9f4;
}

main h3 span:nth-child(2) {
  color: #31e1d6;
}

main .navlinks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .navlinks .navlink {
  padding: 0 20px;
  text-align: center;
  margin: 0 15px;
}

main .navlinks .navlink a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #d1d9e6;
  -webkit-transition: 1s;
  transition: 1s;
}

main .navlinks .navlink a:hover {
  color: #31e1d6;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */